@charset "utf-8";

html, body {
    background-color:  #242439;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: auto;
    gap: .2em;
}

/* Toolbar icons */
.toolbar{
    display: flex;
    background-color: #0e0d24;
    border-radius: 1em;
    padding: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    gap: .5em;
}

.tbbutton {
    display: flex;
    align-items: center;
    background-color: #dadada;
    filter: invert(1);
    gap: .1em;
    border-radius: 1em;
}

.projectinfo{
    margin-left: auto;
}

/* Taskboard Area */
.taskboard{
    display: flex;
    flex: 1;
    background-color: #0e0d24;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    gap: .2em;
    padding: .5rem;
    overflow-x: auto;
    padding-bottom: 1px;
    min-width: 200px;
}

.column{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #242439;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    padding-top: 0px;
}

.column.backlog{ /*overrides the column settings ONLY for the backlog column*/
    background-color: #373738;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    padding-top: .5em;
    max-width: 3%;
    padding-top: 10em;
}

#backlogtext{
    transform: rotate(-90deg);
}


.columnHeader{ /*sets the size and shape of each columns header*/
    display:flex;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    padding-left: 1rem;
    font-size: 1vw;
}

#nextUpHeader{ /*changes the color of this individual columns header*/
    background-color: #300030;
}

#inProgressHeader{ /*changes the color of this individual columns header*/
    background-color: #6d5900;
}

#pendingReviewHeader{ /*changes the color of this individual columns header*/
    background-color: #3f1809;
}

#finishedHeader{ /*changes the color of this individual columns header*/
    background-color: hsl(120, 93%, 11%);
}

.taskBoxArea{ /*the taskbox area that holds tasks under each individual column*/
    flex: 1;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    padding: .2em;
}

/* Appearance of each individual created taskbox */
.task {
    display: flex;
    background-color: #2e2e2e;
    border-radius: .2em;
    border: 1px solid white;
    padding: .1em;
}

.taskPriority {
    width: .5em;
    height: 2em;
    background-color: rgb(255, 255, 255);
}
/* Modal Boxes */

.modal{
    display: none; /* Defaults to hidden */
    position: fixed; 
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5); /* dim background */
    justify-content: center; align-items: center;
}

.modal-content {
  background: #0e0d24;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.close {
  cursor: pointer;
  float: right;
  font-size: 20px;
}